<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="Gym web 2.css">
    <title>Muscle N Strength</title>
</head>
<body>
    
    <!--Header section code-->
    
    <header>

        <a href="#" class="logo"><span>Muscle</span> & <span>Strength</span></a>

        <div class='bx bx-menu' id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="index2.html">Home</a></li>
            <li><a href="Services.html">Services</a></li>
            <li><a href="About Us.html">About Us</a></li>
            <li><a href="Pricing.html">Pricing</a></li>
            <li><a href="Review.html">Review</a></li>
        </ul>

        <div class="top-btn">
            <a href="#" class="nav-btn">Join Us</a>
        </div>
    </header>

     <!--About Section Code-->

     <section class="about" id="about">
        <div class="about-img">
            <img src="Assets/about.jpg" alt="">
        </div>

        <div class="about-content">
          <h2 class="heading">Why Choose Us?</h2>

          <p>Our Diverse membership base create a friendly and Supportive atmosphere, where you can make friends and stay motivated
          </p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat nostrum fuga, natus exercitationem atque ut, enim maxime quia consectetur soluta ratione repudiandae aperiam perspiciatis, neque ea odio nobis expedita quidem?</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores accusantium tenetur sunt, minima temporibus recusandae, rerum quis a vero suscipit iusto ab ipsum omnis accusamus? Eos vitae tempore veniam eligendi!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, id perferendis, itaque cum rerum culpa accusantium nemo vitae in nostrum praesentium sapiente repellendus iure repellat recusandae quos esse exercitationem facilis!</p>

          <a href="#" class="btn">Book a free Class</a>
        </div>

     </section>


    <!--Footer Section Code-->

    <footer class="footer">
        <div class="social">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-linkedin'></i></a>
        </div>

        <p class="copyright">
            &copy; Muscle & Strength 2024 - All Rights Reserved
        </p>
    </footer>



</body>
</html>