<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="Gym web 2.css">
    <title>Muscle N Strength</title>
</head>
<body>
    
    <!--Header section code-->
    
    <header>

        <a href="#" class="logo"><span>Muscle</span> & <span>Strength</span></a>

        <div class='bx bx-menu' id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="index2.html">Home</a></li>
            <li><a href="Services.html">Services</a></li>
            <li><a href="About Us.html">About Us</a></li>
            <li><a href="Pricing.html">Pricing</a></li>
            <li><a href="Review.html">Review</a></li>
        </ul>

        <div class="top-btn">
            <a href="#" class="nav-btn">Join Us</a>
        </div>
    </header>

    <!--home section code-->

    <section class="home" id="home">
        <div class="home-content">

            <h3>Build Your</h3>
            <h1>Dream Physique</h1>
            <h3><span class="multiple-text">Bodybuilding</span></h3>

            <p>Empowering Your Fitness journey with Muscle N Strength</p>

            <a href="#" class="btn">Join Us</a>

        </div>

        <div class="home-img">
            <img src="Assets/heroImage.png" alt="home-img">
        </div>
   
    </section>

    <!--Footer Section Code-->

    <footer class="footer">
        <div class="social">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-linkedin'></i></a>
        </div>

        <p class="copyright">
            &copy; Muscle & Strength 2024 - All Rights Reserved
        </p>
    </footer>



</body>
</html>