<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="Gym web 2.css">
    <title>Muscle N Strength</title>
</head>
<body>
    
    <!--Header section code-->
    
    <header>

        <a href="#" class="logo"><span>Muscle</span> & <span>Strength</span></a>

        <div class='bx bx-menu' id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="index2.html">Home</a></li>
            <li><a href="Services.html">Services</a></li>
            <li><a href="About Us.html">About Us</a></li>
            <li><a href="Pricing.html">Pricing</a></li>
            <li><a href="Review.html">Review</a></li>
        </ul>

        <div class="top-btn">
            <a href="#" class="nav-btn">Join Us</a>
        </div>
    </header>

     <!--Pricing Section Code-->

     <section class="plans" id="plans">
        <h2 class="heading">Our <span>plans</span></h2>

        <div class="plans-content">
            
            <div class="box">
                <h3>Basic</h3>
                <h2><span>$100/Month</span></h2>
                <ul>
                    <li>Smart Workout Plan</li>
                    <li>At Home Workout</li>
                </ul>
                <a href="#">
                    Join Now
                    <i class='bx bx-right-arrow-alt' ></i>
                </a>
            </div>

            <div class="box">
                <h3>Pro</h3>
                <h2><span>$150/Month</span></h2>
                <ul>
                    <li>Pro GYMs</li>
                    <li>Smart Workout Plan</li>
                    <li>At Home Workout</li>
                </ul>
                <a href="#">
                    Join Now
                    <i class='bx bx-right-arrow-alt' ></i>
                </a>
            </div>

            <div class="box">
                <h3>PREMIUM</h3>
                <h2><span>$300/Month</span></h2>
                <ul>
                    <li>Elite GYMs and Classes</li>
                    <li>Pro GYMs</li>
                    <li>Smart Workout Plan</li>
                    <li>At Home Workout</li>
                    <li>Personal Training</li>
                </ul>
                <a href="#">
                    Join Now
                    <i class='bx bx-right-arrow-alt' ></i>
                </a>
            </div>

        </div>
     </section>

    <!--Footer Section Code-->

    <footer class="footer">
        <div class="social">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-linkedin'></i></a>
        </div>

        <p class="copyright">
            &copy; Muscle & Strength 2024 - All Rights Reserved
        </p>
    </footer>



</body>
</html>